@property --blur {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}

@property --spread {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}

@property --spread1 {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}


@keyframes spacePulse {
    0% {
        box-shadow: 0 0 2em 0em #1e2a78;
    }

    10% {
        box-shadow: 0 0 2em 3em #3f5db3;
    }

    20% {
        box-shadow: 0 0 2em 0em #1e2a78;
    }

    35% {
        box-shadow: 0 0 2em 3em #3f5db3;
    }

    45% {
        box-shadow: 0 0 2em 0em #1e2a78;
    }

    60% {
        box-shadow: 0 0 2em 3em #3f5db3;
    }

    70% {
        box-shadow: 0 0 2em 0em #1e2a78;
    }

    85% {
        box-shadow: 0 0 2em 4em #3f5db3;
    }

    100% {
        box-shadow: 0 0 2em 0em #1e2a78;
    }
}

@keyframes inwardGlow {
    0% {
        box-shadow: inset 0em 0em 2em 0em #fdf3cc;
    }

    100% {
        box-shadow: inset 0em 0em 2em 10em #fdf3cc;
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0.8) rotate(-5deg);
        opacity: 0;
    }

    90% {
        transform: scale(1) rotate(-3deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-40px);
        opacity: 0;
    }
}

@keyframes drone {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-160px, 50px);
    }
}