@property --blur {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}

@property --spread {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}

@property --spread1 {
    syntax: '<length>';
    inherits: false;
    initial-value: 0em;
}

@keyframes muziek1 {
    0% {
        box-shadow: 0em 0em var(--blur) 0em #fdf3cc,
            0em 0em 1em 0em #fdf3cc;
    }

    100% {
        box-shadow: 0em 0em var(--blur) 0em #fdf3cc,
            0em 0em 1em 10em #fdf3cc;
    }
}


@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0.8) rotate(-5deg);
        opacity: 0;
    }

    90% {
        transform: scale(1) rotate(-3deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
        /* transform: translateY(0); */
    }

    50% {
        opacity: 1;
        /* transform: translateY(10px); */
    }

    100% {
        /* transform: translateY(20px); */
        opacity: 0;
    }
}

@keyframes drone {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-160px, 50px);
    }
}